#work-links {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    top: -30px;
    font-size: 15px;
}

#work-links a{
    text-decoration: none;
    color:grey;
    margin:10px;
}

#work-links a:hover{
    text-decoration: underline;
    color:black;
}

#project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    max-width: 800px;
    margin: auto;
}


#project-list a {
    text-decoration: none;
    color: black;
}


.project {
    min-width:100px;
    max-width: 200px;
    height:200px;
    margin: 0px;
    overflow: hidden;

}

.project:hover img{
    /* background-color: lightgray; */
    transform: scale(1.05);
    transition: .4s ease;
}


.project img {
    width:198px;
    margin: 1px;
    box-sizing: border-box;
    object-fit: cover;
    transition: .2s ease;
}

.project:hover .project-data h2{
    top: -125px;
}

.project-data h2 {
    position: relative; 
    top:0px;
    font-weight:300;
    background-color: rgba(112, 112, 112, 0.5);
    backdrop-filter: blur(10px);
    color: white;
    text-align: center;
}

/* .content{
   max-width: 800px;
} */

@media only screen and (max-width: 800px) and (min-width: 600px) {
    #project-list{
        max-width: 600px;
    }
}
@media only screen and (max-width: 600px)and (min-width: 400px)  {
    #project-list{
        max-width: 400px;
    }   
}
@media only screen and (max-width: 400px) {
    #project-list{
        max-width: 200px;
    }    
}